.bg{
    height: 100vh;
    background-image: var(--backgraund-primary);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}
.container{
    height: 95%;
    width: 90%;
    margin: auto;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    
}

