.bg{
    background: var(--backgraund-primary);
    background-size: cover;
    height: 100vh;
}
.container{
    max-width: 360px;
    margin: auto;
    background-color: var(--backgraund-transparent);
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    color:var(--white);
}
.form label{
    margin-top: 15px;
    color: var(--white);
}
.form input {
    margin-top: 5px;
    height: 30px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;

}

.warning{
    border:none;
    border: 1px solid red;
}
.danger{
    color:red;
}